@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #121212;
  }
}

html{
  height:100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  height:100%;
  overflow-y: scroll;
}

*::selection{
  background: #a10000;
}